body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    background-color: #1c1c1c; /* Dark grey background */
}

.container {
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

header h1 {
    font-size: 2.5em;
    color: #ff0000; /* Red */
    text-shadow: 2px 2px 5px #000;
}

.back-button {
    position: fixed; /* Fixed position to stay visible during scrolling */
    top: 20px;
    left: 20px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000; /* Ensures the button appears above other elements */
}

.back-button:hover {
    background-color: #555;
}

.discover-button {
    background-color: #007bff; /* Blue */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.discover-button:hover {
    background-color: #0056b3; /* Darker blue */
}

.main-content {
    text-align: center;
}

.intro {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.mission-vision {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.mission-vision h2 {
    color: #ff0000; /* Red */
    margin-bottom: 10px;
}

.mission-vision p {
    font-size: 1em;
    line-height: 1.6;
}

.more-info {
    display: none; /* Initially hidden */
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.more-info ul {
    list-style-type: none;
    padding: 0;
}

.more-info ul li {
    margin-bottom: 10px;
    font-size: 1em;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
    border-top: 2px solid #555;
}
